on:
  push:

permissions:
  packages: write
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/kamatera/kamatera-rke2-controller:${{ github.sha }}
            ${{ github.ref == 'refs/heads/main' && 'ghcr.io/kamatera/kamatera-rke2-controller:latest' || '' }}
          cache-from: type=registry,ref=ghcr.io/kamatera/kamatera-rke2-controller:latest
          cache-to: type=inline
