on:
  push:
    branches:
      - main

permissions:
  packages: write
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: kamatera-rke2-controller
      - uses: actions/checkout@v6
        with:
          repository: Kamatera/kamatera-rke2-kubernetes-terraform-example
          path: kamatera-rke2-kubernetes-terraform-example
      - uses: hashicorp/setup-terraform@v3
      - run: |
          wget https://cloudcli.cloudwm.com/binaries/latest/cloudcli-linux-amd64.tar.gz
          tar -xvf cloudcli-linux-amd64.tar.gz
          chmod +x cloudcli
          sudo mv cloudcli /usr/local/bin/cloudcli
      - run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.KAMATERA_SSHKEY_PUB }}" > ~/.ssh/id_rsa.pub
          echo "${{ secrets.KAMATERA_SSHKEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - uses: astral-sh/setup-uv@v7
        with:
          working-directory: kamatera-rke2-controller/tests
      - env:
          KAMATERA_API_CLIENT_ID: ${{ secrets.KAMATERA_API_CLIENT_ID }}
          KAMATERA_API_SECRET: ${{ secrets.KAMATERA_API_SECRET }}
        run: |
          export K8S_VERSION="1.35"
          echo K8S_VERSION=${K8S_VERSION}
          cd kamatera-rke2-controller
          make build
          cd tests
          uv sync
          uv run python -u -m pytest -vvx --capture=tee-sys tests

  docker:
    runs-on: ubuntu-latest
    needs:
      - tests
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/kamatera/kamatera-rke2-controller:${{ github.sha }}
            ghcr.io/kamatera/kamatera-rke2-controller:latest
          cache-from: type=registry,ref=ghcr.io/kamatera/kamatera-rke2-controller:latest
          cache-to: type=inline
